<a href="https://colab.research.google.com/github/queite/bootcamp-data-analytics/blob/main/Desafio_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bilbiotecas

In [ ]:
import pandas as pd

In [ ]:
!pip install pydataset

In [ ]:
from google.colab import data_table
data_table.enable_dataframe_formatter()
data_table.max_columns = 40

In [ ]:
import pydataset

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import numpy as np

# Desafio 1 - Importando dataset

In [ ]:
plant_traits = pydataset.data('plantTraits')
plant_traits.head()

In [ ]:
type(plant_traits)

In [ ]:
plant_traits.shape

In [ ]:
def get_rows_columns_qtd(dataframe):
    return (f'''Rows: {dataframe.shape[0]}'
        Columns: {dataframe.shape[1]}''')

get_rows_columns_qtd(plant_traits)

# Desafio 2: Convers√£o

In [ ]:
women = pydataset.data('women')

In [ ]:
women.head()

In [ ]:
new_women = women.rename(columns={'height':'altura', 'weight': 'peso'})

In [ ]:
new_women.mul({'altura':2.54, 'peso':0.45}).head()

In [ ]:
new_women.plot.scatter(x='altura', y='peso')
plt.show()

# Desafio 3: Titanic

In [ ]:
titanic = pydataset.data('titanic')
titanic.head()

In [ ]:
# 1. Quantas pessoas sobreviveram e quantas morreram?
titanic.value_counts(subset='survived')

In [ ]:
# 2. Quantas pessoas eram da primeira, segunda e terceira classe?
titanic.value_counts(subset='class')

In [ ]:
# 3. Qual a porcentagem de sobreviventes na primeira classe?
all_first_class = titanic[titanic['class'] == '1st class']
survived_first_class = titanic.loc[(titanic['class'] == '1st class') & (titanic['survived'] == 'yes')]
perc = survived_first_class.shape[0] / all_first_class.shape[0] * 100
round(perc, 2)

In [ ]:
# 4. Qual a porcentagem de mortos da terceira classe?
all_3rd_class = titanic[titanic['class'] == '3rd class']
dead_3rd_class = titanic[(titanic['class'] == '3rd class') & (titanic['survived'] == 'no')]
perc = dead_3rd_class.shape[0] / all_3rd_class.shape[0] * 100
round(perc, 2)

# Desafio 4: Futebol

In [ ]:
bundesliga = pydataset.data('Bundesliga')
bundesliga.head()

In [ ]:
bundesliga['TotalGols'] = bundesliga['HomeGoals'] + bundesliga['AwayGoals']
bundesliga.loc[bundesliga['TotalGols'].idxmax()]

In [ ]:
bundesliga.drop(columns='TotalPoints', inplace=True) # Para exemplo

In [ ]:
bundesliga.insert(4, 'TotalGoals', bundesliga['HomeGoals'] + bundesliga['AwayGoals'])

In [ ]:
bundesliga.head()

In [ ]:
bundesliga.loc[bundesliga['TotalGoals'].idxmax()]

# Desafio 5: Forbes

In [ ]:
forbes = pydataset.data('Forbes2000')

In [ ]:
forbes.head()

In [ ]:
# 1. Qual a empresa mais valiosa da lista da Forbes 2000?
forbes.loc[forbes['marketvalue'].idxmax()]

In [ ]:
# 2. Construa uma tabela com as TOP 10 empresas mais lucrativas da lista.
forbes.nlargest(10, 'profits')

##  3. Qual a m√©dia de valores de empresa das cinco categorias mais valiosas?

In [ ]:
most valuable categories = forbes.groupby(by='category').sum('marketvalue').nlargest(5, 'marketvalue')
df

In [ ]:
most_valuable_categories = df.index.unique().tolist()
most_valuable_categories

In [ ]:
means = forbes.groupby('category')['marketvalue'].mean().round(2)
means

In [ ]:
for category in most_valuable_categories:
    if category in means:
        print(means[[category]].to_string(header=False))

# Desafio 6: Rendimento A√ß√µes

In [ ]:
jj_earnings = pydataset.data('JohnsonJohnson')
jj_earnings.head()

In [ ]:
jj_earnings['year'] = jj_earnings['time'].astype(str).str.split('.').str[0]
jj_earnings.head()

In [ ]:
#Agregar os rendimentos de um mesmo ano
yearly_jj_earnings = jj_earnings.groupby('year').sum().round(2)
yearly_jj_earnings.drop(columns='time', inplace=True)
yearly_jj_earnings.head()

In [ ]:
yearly_jj_earnings['previous'] = yearly_jj_earnings['JohnsonJohnson'].shift()
yearly_jj_earnings.head()

In [ ]:
# Calcular a valoriza√ß√£o do rendimento de um ano para outro
yearly_jj_earnings['valorizacao'] = (yearly_jj_earnings['JohnsonJohnson'] - yearly_jj_earnings['previous']) / yearly_jj_earnings['previous'] * 100
yearly_jj_earnings.round(2).head()

In [ ]:
# .Informar o ano de maior rentabilidade
yearly_jj_earnings['valorizacao'].idxmax()

# Desafio 7: Condi√ß√µes de Moradia

In [ ]:
pydataset.data('housing', show_doc=True)

In [ ]:
housing = pydataset.data('housing')
housing

In [ ]:
#1. Em quantas medi√ß√µes, em m√©dia, as pessoas da base estava em situa√ß√£o de rua?
reg_sit_rua = housing['y'] == 0
rua_true = housing[reg_sit_rua]
rua_true

In [ ]:
rua_true.groupby('id')['y'].count().mean()

In [ ]:
#2. Qual a propor√ß√£o de moradores que estiveram inscritos em Section 8 em algum momento?
sec_true = housing['sec'] == 1
sec_true

In [ ]:
housing2 = housing[sec_true]
housing2.shape

In [ ]:
housing2.groupby('id').count().shape[0]

In [ ]:
perc = (housing2.groupby('id').count().shape[0] / housing.groupby('id').count().shape[0]) * 100
perc

In [ ]:
# 3. Quantas pessoas estiveram 100% do tempo em situa√ß√£o de rua
rua = housing['y'] == 0
housing_em_rua = housing[rua]
total_rua = housing_em_rua.groupby('id')['y'].sum()

In [ ]:
total_rua.value_counts()[4.0]

In [ ]:
# 4. Qual percentual das pessoas apresentaram uma melhora de condi√ß√µes de moradia no final do estudo?
medicoes = housing.pivot(index='id', columns='time', values='y')
medicoes.head()

In [ ]:
medicoes.shape

In [ ]:
medicoes_com_melhora = medicoes.loc[medicoes[0] < medicoes[24]]
medicoes_com_melhora.shape

In [ ]:
perc_melhor_condicoes = (medicoes_com_melhora.shape[0] / medicoes.shape[0]) *100
round(perc_melhor_condicoes, 2)

# Desafio 8: Suic√≠dios

In [ ]:
pydataset.data('Suicide', show_doc=True)

In [ ]:
suicide = pydataset.data('Suicide')
suicide

In [ ]:
# Crie uma fun√ß√£o que ao informar o sexo e a faixa et√°ria de um su√≠cidio
# √© retornado as probabilidades do m√©todo utilizado.
def suicide_method_prob(sex, age_group):
    total_freq = suicide.groupby(['age.group', 'sex'], as_index=False)['Freq'].sum()
    selected_total_freq = total_freq[(total_freq['age.group'] == age_group)
        & (total_freq['sex'] == sex)].get('Freq')
    freq_by_method = suicide.groupby(['age.group', 'sex', 'method2'], as_index=False)['Freq'].sum()
    selected_data = freq_by_method[(freq_by_method['age.group'] == age_group) & (freq_by_method['sex'] == sex)]
    prob_suicide = pd.DataFrame()
    prob_suicide['Method'] = selected_data['method2']
    prob_suicide['Prob'] = selected_data['Freq'] / int(selected_total_freq)
    return prob_suicide

In [ ]:
suicide_method_prob('female', '10-20')

In [ ]:
1# Com aux√≠lio da fun√ß√£o input() fa√ßa a chamada da fun√ß√£o do item 1. (a ideia √© simular uma interface amig√°vel)
sex_option = {
    1: 'female',
    2: 'male'
}

age_group_options = {
    1: '10-20',
    2: '25-35',
    3: '40-50',
    4: '55-65',
    5: '70-90',
}

sex = int(input('Choose gender writing a number: \n 1 - female \n 2 - male \n'))
print('\n')
age_group = int(input('''Choose age group writing a number:
    1 - 10-20
    2 - 25-35
    3 - 40-50
    4 - 55-65
    5 - 70-90
    '''))

print('\n')
print(suicide_method_prob(sex_option[sex], age_group_options[age_group]))